In [123]:
import pandas as pd

In [96]:
dt_execute_rbg = pd.read_pickle("result/Execute RBG.pkl")
dt_start_handle_request = pd.read_pickle("result/Start Handle Request.pkl")
dt_end_handle_request = pd.read_pickle("result/End Handle Request.pkl")
dt_path_movement_finished = pd.read_pickle("result/Path Movement Finished.pkl")
dt_path_movement_finished_detail = pd.read_pickle("result/Path Movement Finished - Detail.pkl")
dt_path_movement_failed = pd.read_pickle("result/Path Movement Failed.pkl")
dt_unknown = pd.read_pickle("result/Unknown Content.pkl")
dt_alerts_handled = pd.read_pickle("result/Alerts Handled.pkl")
dt_alerts_processing = pd.read_pickle("result/Alerts Processing.pkl")
dt_alerts_received = pd.read_pickle("result/Alerts Received.pkl")
dt_telegrams_processed = pd.read_pickle("result/Telegrams Processed.pkl")
dt_telegrams_sent = pd.read_pickle("result/Telegrams Sent.pkl")
dt_is_position_ok = pd.read_pickle("result/Check Position.pkl")
dt_check_sequence = pd.read_pickle("result/Check Sequence.pkl")

In [103]:
dt_path_movement_finished[dt_path_movement_finished['status'] == 'true']

,timestamp,module,worker_id,search_status,mfs_id,status,code,paths
0,2025.02.06 07:00:00.106,MF2,G42036843,finished,1847105,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
1,2025.02.06 07:00:00.294,MF2,G42036843,finished,1847079,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
2,2025.02.06 07:00:00.513,MF2,G42036843,finished,1847015,true,0,"[{'from': '103006', 'to': '103100'}, {'from': ..."
3,2025.02.06 07:00:00.716,MF2,G42036843,finished,1847053,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
4,2025.02.06 07:00:00.903,MF2,G42036843,finished,1847111,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
...,...,...,...,...,...,...,...,...
61346,2025.02.06 11:59:57.578,MF2,G42762253,finished,1847778,true,0,"[{'from': '103006', 'to': '103100'}, {'from': ..."
61347,2025.02.06 11:59:57.843,MF2,G42762253,finished,1847755,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
61348,2025.02.06 11:59:58.765,MF2,G42762253,finished,1847673,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
61349,2025.02.06 11:59:59.172,MF2,G42762253,finished,1847783,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."
61350,2025.02.06 11:59:59.596,MF2,G42762253,finished,1847784,true,0,"[{'from': '103005', 'to': '103100'}, {'from': ..."

In [104]:
dt_path_movement_finished_detail[dt_path_movement_finished_detail['timestamp'] == '2025.02.06 07:00:00.106']

                 timestamp   mfs_id  order    from      to
0  2025.02.06 07:00:00.106  1847105      1  103005  103100
1  2025.02.06 07:00:00.106  1847105      2  103100    1310
2  2025.02.06 07:00:00.106  1847105      3    1310    1318
3  2025.02.06 07:00:00.106  1847105      4    1318    1715
4  2025.02.06 07:00:00.106  1847105      5    1715    1716

In [84]:
dt_path_movement_finished[dt_path_movement_finished['status'] == 'false']

,timestamp,module,worker_id,search_status,mfs_id,status,code,paths
189,2025.02.06 07:00:41.720,MF1,G42038421,finished,1847162,false,-2,[]
220,2025.02.06 07:00:48.632,MF1,G42038740,finished,1847162,false,-2,[]
222,2025.02.06 07:00:48.820,MF1,G42038754,finished,1847127,false,-2,[]
257,2025.02.06 07:00:55.742,MF1,G42039090,finished,1847127,false,-2,[]
653,2025.02.06 07:02:22.584,MF1,G42041851,finished,1847145,false,-2,[]
...,...,...,...,...,...,...,...,...
57425,2025.02.06 11:33:38.242,MF1,G42726098,finished,1847722,false,-2,[]
57440,2025.02.06 11:33:44.478,MF1,G42726247,finished,1847708,false,-2,[]
57452,2025.02.06 11:33:49.090,MF1,G42726357,finished,1847734,false,-2,[]
57461,2025.02.06 11:33:52.871,MF1,G42726444,finished,1847734,false,-2,[]
57470,2025.02.06 11:33:56.637,MF1,G42726535,finished,1847796,false,-2,[]

In [126]:
cols_with_mainLoop = [
    col 
    for col in dt_unknown.columns 
    if dt_unknown[col].astype(str).str.contains("Alert-Thread", na=False).any()
]
print(cols_with_mainLoop)

[]

In [138]:
unique_stages = dt_unknown['stage'].unique()
print(unique_stages)

['cleanMfsTrans' 'sendAvAlert_SND_LHM_EINGELAGERT' 'sendAVImpl'
 'isPositionOK' 'sendRBGFS' 'updateFilled' 'updatePlanned' 'info'
 'sendLhmFachtiefe' 'checkCPU' 'mfsFachtiefe' 'sendRBGGB'
 'sendLhmAusgelagert' 'setStatusAnyWarte' 'sendFMDO' 'sendFMTA'
 'checkSequence' 'cleanup' 'cleanMfsTransLog' 'cleanRbgLog' 'cleanAuftrag'
 'cleanSeqLog' 'cleanLogFm' 'cleanLogRbg' 'cleanLogRbgEr' 'cleanLogRbgZs'
 'cleanLogAv' 'cleanMfsTransErrTxt' 'cleanBetriebsmittelLog'
 'cleanMfsTransportStats' 'cleanNaviActive' 'cleanLogRbgBck'
 'cleanMfsTransLogBck' 'cleanAuftragsende' 'mfsLoeschen'
 'alert:MF1_FROMTSS' 'processAlertQueue'
 'sendAvAlert_SND_LHM_ANGEKOMMEN_LONG' 'mfsStart' 'mfsStart[laenge'
 'mfsStart[breite' 'mfsStart[hoehe' 'sendAvAlert_SND_LHM_ANGEKOMMEN_KURZ'
 'mfsEinlagern' 'mfsEinlagern[laenge' 'mfsEinlagern[breite'
 'mfsEinlagern[hoehe' 'sendFMLZ' 'updateLocks'
 'sendAvAlert_SND_LHM_VORBEIGEFAHREN' 'sendAvAlert_SND_LHM_ABGENOMMEN'
 'fa' 'getAndSetNioDestination' 'sendLhmWirdAusgeschleust' 'mfsAuslagern'
 'mfsAuslagern[pe_typ' 'mfsAuslagern[wickelprogramm'
 'mfsAuslagern[umreiferprogramm' 'mfsAuslagern[drucken'
 'mfsAuslagern[sim_av' 'mfsUmlagern' 'mfsUmlagern[pe_typ'
 'mfsUmlagern[sim_av' 'mfsStartUmlagern' 'mfsStartUmlagern[prio'
 'mfsStartAuslagern' 'mfsStartAuslagern[prio' 'registerNewOrder'
 'sendAvAlert_SND_LHM_AUFGESETZT' 'alert:MFS_START_1726' 'unknown'
 'sendAvAlert_SND_LHM_LOESCHEN']

In [128]:
dt_start_handle_request.head()

,timestamp,module,worker_id,stage,request,area,le,force_check
0,2025.02.06 07:00:00.075,MF3,G42036921,START HANDLE REQUEST,CHECK_SEQ,MF2,1847044,true
1,2025.02.06 07:00:00.278,MF3,G42036931,START HANDLE REQUEST,CHECK_SEQ,MF2,1847105,true
2,2025.02.06 07:00:00.481,MF3,G42036941,START HANDLE REQUEST,CHECK_SEQ,MF2,1847079,true
3,2025.02.06 07:00:00.685,MF3,G42036950,START HANDLE REQUEST,CHECK_SEQ,MF2,1847015,true
4,2025.02.06 07:00:00.888,MF3,G42036961,START HANDLE REQUEST,CHECK_SEQ,MF2,1847053,true

In [129]:
dt_alerts_handled.head()

,timestamp,module,worker_id,stage,alert_name,lfdnr,text,time_ms
0,2025.02.06 07:00:03.608,MF2,G42037093,Alert MF2_FROMTSS wurde verarbeitet,MF2_FROMTSS,None,2\18913\PG\0\PG\4\1208\1208\1\4\191\25\600\1\G...,0
1,2025.02.06 07:00:03.608,MF2,G42037094,Alert MF2_FROMTSS wurde verarbeitet,MF2_FROMTSS,None,3\21559\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,0
2,2025.02.06 07:00:03.623,MF2,G42037095,Alert MF2_FROMTSS wurde verarbeitet,MF2_FROMTSS,None,1\24771\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,0
3,2025.02.06 07:00:09.265,MF2,G42037201,Alert MF2_FROMTSS wurde verarbeitet,MF2_FROMTSS,None,1\24772\PF\0\PF\2\1108\1108\1\1\441\13\600\1\G...,0
4,2025.02.06 07:00:09.280,MF2,G42037209,Alert MF2_FROMTSS wurde verarbeitet,MF2_FROMTSS,None,4\354\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0\0...,0

In [130]:
dt_alerts_processing.head()

,timestamp,module,worker_id,stage,alert_name,lfdnr,text,time_ms
0,2025.02.06 07:00:03.592,MF2,G42037093,Start Alert-Verarbeitung,MF2_FROMTSS,77809231,2\18913\PG\0\PG\4\1208\1208\1\4\191\25\600\1\G...,None
1,2025.02.06 07:00:03.608,MF2,G42037094,Start Alert-Verarbeitung,MF2_FROMTSS,77809233,3\21559\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,None
2,2025.02.06 07:00:03.623,MF2,G42037095,Start Alert-Verarbeitung,MF2_FROMTSS,77809234,1\24771\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,None
3,2025.02.06 07:00:09.249,MF2,G42037201,Start Alert-Verarbeitung,MF2_FROMTSS,77809235,1\24772\PF\0\PF\2\1108\1108\1\1\441\13\600\1\G...,None
4,2025.02.06 07:00:09.280,MF2,G42037209,Start Alert-Verarbeitung,MF2_FROMTSS,77809237,4\354\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0\0...,None

In [131]:
dt_alerts_received.head()

,timestamp,module,worker_id,stage,alert_name,lfdnr,text,time_ms
0,2025.02.06 07:00:00.200,Alert-Thread,G42036932,Alert empfangen,MF2_FROMTSS,None,1\24771\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,None
1,2025.02.06 07:00:01.107,Alert-Thread,G42036975,Alert empfangen,MF2_FROMTSS,None,1\24772\PF\0\PF\2\1108\1108\1\1\441\13\600\1\G...,None
2,2025.02.06 07:00:03.842,Alert-Thread,G42037109,Alert empfangen,MF2_FROMTSS,None,4\354\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0\0...,None
3,2025.02.06 07:00:09.296,Alert-Thread,G42037217,Alert empfangen,MFS_FACHTIEFE_1,None,MFS_ID1=1847164\HOST_LHM_ID1=10013880\Z_INFO_L...,None
4,2025.02.06 07:00:22.214,Alert-Thread,G42037658,Alert empfangen,MF1_FROMTSS,None,101\18544\ST\0\101\0\0\7\0\0\0\0\0\0\xxxxxxxxx...,None

In [132]:
dt_telegrams_processed.head()

,timestamp,module,worker_id,stage,success,alert_name,text,tel_structure
0,2025.02.06 07:00:03.608,MF2,G42037093,TelegramDispatch processed,true,MF2_FROMTSS,2\18913\PG\0\PG\4\1208\1208\1\4\191\25\600\1\G...,RBG-AUFTRAG
1,2025.02.06 07:00:03.608,MF2,G42037094,TelegramDispatch processed,true,MF2_FROMTSS,3\21559\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,RBG-AUFTRAG
2,2025.02.06 07:00:03.623,MF2,G42037095,TelegramDispatch processed,true,MF2_FROMTSS,1\24771\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0...,RBG-AUFTRAG
3,2025.02.06 07:00:09.265,MF2,G42037201,TelegramDispatch processed,true,MF2_FROMTSS,1\24772\PF\0\PF\2\1108\1108\1\1\441\13\600\1\G...,RBG-AUFTRAG
4,2025.02.06 07:00:09.280,MF2,G42037209,TelegramDispatch processed,true,MF2_FROMTSS,4\354\ST\3\--\0\0\0\0\0\0\0\0\ \ \ \0\0\0\0\0...,RBG-AUFTRAG

In [133]:
dt_telegrams_sent.head()

,timestamp,module,worker_id,stage,success,alert_name,text,tel_structure
0,2025.02.06 07:00:03.608,MF2,G42037093,Alert LHM_EINGELAGERT_1 wurde gesendet,None,LHM_EINGELAGERT_1,\MFS_ID1=1847066\HOST_LHM_ID1=10013097\LAGER1=...,None
1,2025.02.06 07:00:03.951,MF2,G42037098,Alert TSS_FROMMF2 wurde gesendet,None,TSS_FROMMF2,2\0\EA\0\FS\3\281\3\1200\3\1210\1210\1\1\G\XX\...,None
2,2025.02.06 07:00:09.265,MF2,G42037201,Alert LHM_FACHTIEFE_1 wurde gesendet,None,LHM_FACHTIEFE_1,\MFS_ID1=1847164\HOST_LHM_ID1=10013880\LAGER1=...,None
3,2025.02.06 07:00:14.862,MF2,G42037470,Alert TSS_FROMMF2 wurde gesendet,None,TSS_FROMMF2,1\0\EA\0\GB\2\1108\1108\1\1\441\13\600\1\G\XX\...,None
4,2025.02.06 07:00:31.043,MF2,G42038074,Alert LHM_AUSGELAGERT_1 wurde gesendet,None,LHM_AUSGELAGERT_1,\MFS_ID1=1847145\HOST_LHM_ID1=10018335\Z_INFO_...,None