In [6]:
import pandas as pd

In [26]:
dt_execute_rbg = pd.read_pickle("result/Execute RBG.pkl")
dt_start_handle_request = pd.read_pickle("result/Start Handle Request.pkl")
dt_end_handle_request = pd.read_pickle("result/End Handle Request.pkl")
dt_path_movement_finished = pd.read_pickle("result/Path Movement Finished.pkl")
dt_path_movement_failed = pd.read_pickle("result/Path Movement Failed.pkl")
dt_unknown = pd.read_pickle("result/Unknown Content.pkl")

In [27]:
dt_end_handle_request.head()

,timestamp,module,worker_id,stage,request,area,le,force_check,result,response_time
0,2025.02.06 07:00:00.075,MF3,G42036921,END HANDLE REQUEST,CHECK_SEQ,MF2,1847044,true,1,0ms
1,2025.02.06 07:00:00.278,MF3,G42036931,END HANDLE REQUEST,CHECK_SEQ,MF2,1847105,true,1,0ms
2,2025.02.06 07:00:00.481,MF3,G42036941,END HANDLE REQUEST,CHECK_SEQ,MF2,1847079,true,1,0ms
3,2025.02.06 07:00:00.685,MF3,G42036950,END HANDLE REQUEST,CHECK_SEQ,MF2,1847015,true,1,0ms
4,2025.02.06 07:00:00.888,MF3,G42036961,END HANDLE REQUEST,CHECK_SEQ,MF2,1847053,true,1,0ms

In [25]:
dt[dt["task_type"] == 'LamTask']

,timestamp,module,worker_id,stage,task_id,task_type,category,locked,points,telegram_type,lam,info,le
10,2025.02.06 07:00:02.122,MF2,G42036843,try execute Task:,3900,LamTask,ON_TIME,false,1223,FS,1,LamTask - LAM(s)={1},"1847109, 1847085"
44,2025.02.06 07:00:04.061,MF2,G42037098,RBG 3 EVALUATED:,34,LamTask,ON_TIME,false,1223,FS,1,LamTask - LAM(s)={1},"1847109, 1847085"
68,2025.02.06 07:00:07.780,MF2,G42037098,try execute Task:,34,LamTask,ON_TIME,false,1223,FS,1,LamTask - LAM(s)={1},"1847109, 1847085"
91,2025.02.06 07:00:09.405,MF2,G42037216,RBG 3 EVALUATED:,3900,LamTask,ON_TIME,false,1223,FS,1,LamTask - LAM(s)={1},"1847109, 1847085"
115,2025.02.06 07:00:13.268,MF2,G42037216,try execute Task:,3900,LamTask,ON_TIME,false,1223,FS,1,LamTask - LAM(s)={1},"1847109, 1847085"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
137845,2025.02.06 11:59:39.894,MF2,G42762253,RBG 2 EVALUATED:,159,LamTask,ON_TIME,false,1408,FS,1,LamTask - LAM(s)={1},"1847768, 1847767"
137881,2025.02.06 11:59:40.348,MF2,G42762253,try execute Task:,160,LamTask,ON_TIME,false,1438,FS,1,LamTask - LAM(s)={1},"1847672, 1847697"
137885,2025.02.06 11:59:42.504,MF2,G42762253,try execute Task:,159,LamTask,ON_TIME,false,1408,FS,1,LamTask - LAM(s)={1},"1847768, 1847767"
137924,2025.02.06 11:59:57.531,MF2,G42762253,RBG 3 EVALUATED:,187,LamTask,ON_TIME,false,1411,FS,1,LamTask - LAM(s)={1},"1847667, 1847668"
137951,2025.02.06 11:59:59.987,MF2,G42762253,try execute Task:,187,LamTask,ON_TIME,false,1411,FS,1,LamTask - LAM(s)={1},"1847667, 1847668"